"*":
  "exception-reporting":
    userId: "7b766132-9173-0c27-0ac6-c86ca95eb187"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
  "sync-settings":
    _analyticsUserId: "88137fc7-c8c9-4f7a-8c4e-b4fcbf3425ef"
    personalAccessToken: "448db1041b94c7e9ab22f7a36e8060f9beb64623"
    gistId: "8832691e04b761e8ec32"
    _lastBackupHash: "d275cc4bfef4048ee66cf66e6da78753844fd42a"
  minimap:
    plugins:
      "find-and-replace": true
