"*":
  "exception-reporting":
    userId: "7b766132-9173-0c27-0ac6-c86ca95eb187"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
  editor:
    invisibles: {}
    fontSize: 13
    tabLength: 4
    showIndentGuide: true
  "sync-settings":
    _analyticsUserId: "88137fc7-c8c9-4f7a-8c4e-b4fcbf3425ef"
    personalAccessToken: "448db1041b94c7e9ab22f7a36e8060f9beb64623"
    gistId: "8832691e04b761e8ec32"
    _lastBackupHash: "c998e2848f97ada4fd338fc053f48958adb09a8f"
  minimap:
    plugins:
      "find-and-replace": true
  "travis-ci-status": {}
  "autocomplete-python": {}
  wakatime:
    apikey: ""
    ignore: [
      "^/var/"
      "^/tmp/"
      "^/private/"
      "COMMIT_EDITMSG$"
      "PULLREQ_EDITMSG$"
      "MERGE_MSG$"
    ]
