"akademik-web.1.1":
  title: "akademik-web.1.1"
  paths: [
    "D:\\xampp\\htdocs\\akademik\\development\\siak-smk.1.0"
  ]
psb_sma_say:
  title: "psb_sma_say"
  paths: [
    "D:\\xampp\\htdocs\\psb_sma_say"
  ]
python:
  title: "python"
  paths: [
    "C:\\Users\\yanlyan\\Desktop\\trydjango"
  ]
"siak-smk.1.0":
  title: "siak-smk.1.0"
  paths: [
    "D:\\xampp\\htdocs\\akademik\\development\\siak-smk.1.0"
  ]
skripsiaids:
  title: "SkripsiAIDS"
  paths: [
    "D:\\xampp\\htdocs\\SkripsiAIDS"
  ]
bookscraping:
  title: "BookScraping"
  paths: [
    "C:\\Users\\yanlyan\\.babun\\cygwin\\home\\yanlyan\\BookScraping"
  ]
"phalcon-mongo-tutorial":
  title: "phalcon-mongo-tutorial"
  paths: [
    "D:\\xampp\\htdocs\\phalcon-mongo"
    "D:\\xampp\\htdocs\\tutorial"
  ]
