"akademik-web.1.1":
  title: "akademik-web.1.1"
  paths: [
    "D:\\xampp\\htdocs\\akademik\\development\\akademik-web.1.1"
  ]
psb_sma_say:
  title: "psb_sma_say"
  paths: [
    "D:\\xampp\\htdocs\\psb_sma_say"
  ]
